{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div id="header">
            <div id="text_header">
            <button>Nouveaux évènements</button>
            <h1>Bowling des 3 Seine</h1>
            <p>Ouvert à 14h du mardi au dimanche et les lundis de vacances scolaires</p>
                <div id="button_header">
                    <button>Réserver</button>
                    <button>Contact</button>
                </div>
                <img src="" alt="image boule de bowling">
        </div>
    </div>
    <div id="activites">
        <h2>Nos activités</h2>
        <div class="activity_card">
            <h3>S'amuser au Bowling</h3>
            <div class="activity_link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                </svg>
                <a href="">Se renseigner</a>
            </div>
        </div>
        <div class="activity_card">
            <h3>Se challenger aux jeux d'arcade</h3>
            <div class="activity_link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                </svg>
                <a href="">Se renseigner</a>
            </div>
        </div>
        <div class="activity_card">
            <h3>Se défier autour du Billard</h3>
            <div class="activity_link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                </svg>
                <a href="">Se renseigner</a>
            </div>
        </div>
        <div class="activity_card">
            <h3>Une petite soif</h3>
            <div class="activity_link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                </svg>
                <a href="">Se renseigner</a>
            </div>
        </div>
        <div class="activity_card">
            <h3>S'affronter au laser game</h3>
            <div class="activity_link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                </svg>
                <a href="">Se renseigner</a>
            </div>
        </div>
        <div class="activity_card">
            <h3>Profiter d'une salle privée</h3>
            <div class="activity_link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                </svg>
                <a href="">Se renseigner</a>
            </div>
        </div>
    </div>
    <div id="info_infra">
        <div class="div_text">
            <p class="info_number">1</p>
            <p class="info_text">espace jeux d'arcade</p>
        </div>
        <div class="info_text">
            <p class="info_number">6</p>
            <p class="info_text">billards anglais</p>
        </div>
        <div class="info_text">
            <p class="info_number">18</p>
            <p class="info_text">pistes de bowling</p>
        </div>
        <div class="info_text">
            <p class="info_number">300</p>
            <p class="info_text">m2 de laser game</p>
        </div>
    </div>
    <div id="div_events">
        <h3>Nos évènements</h3>
        <div id="events_noel">
            <h3>Noël</h3>
            <p>C’est la saison des fêtes, alors venez déguster nos boissons festives : notre bière de Noël <strong>La Licorne de Noël</strong> et nos cocktails, <strong>le Golden X-mas & l’Apple X-mas.</strong></p>
            <button>Découvrir</button>
        </div>
        <div id="events_rose">
            <h3>Octobre rose</h3>
            <p>Soutenons la lutte contre le cancer du sein ! Pour chaque partie achetée, la location des chaussures est reversée à @liguecancer10_aube10 tout comme les bénéfices des objets en vente dans notre vitrine !</p>
            <button>Découvrir</button>
        </div>
        <div id="events_etud">
            <h3>Étudiants</h3>
            <p>La fin des partiels approche ! Pour décompresser, Bowling 3 Seine vous propose une soirée spéciale étudiante. Profitez de tarifs exclusifs ! En effet, la location de chaussures est offerte sur présentation d'une carte étudiante valide.</p>
            <button>Découvrir</button>
        </div>
    </div>
    <div id="div_questions">
        <h2>On répond à vos questions</h2>
        <div class="question">
            <div class="question_text">
                <p>Est-ce que les tout petits peuvent jouer au bowling ?</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
                <hr>
                    <div class="reponse">
                        <p></p>
                    </div>
            </div>
        </div>
        <div class="question">
                <div class="question_text">
                    <p>Y a-t-il des offres spéciales, des réductions, ou des abonnements ?</p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                    <hr>
                        <div class="reponse">
                            <p></p>
                        </div>
                </div>
        </div>
        <div class="question">
                <div class="question_text">
                    <p>Proposez-vous des boules légères adaptées aux enfants ou aux débutants ?</p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                    <hr>
                        <div class="reponse">
                            <p></p>
                        </div>
                </div>
        </div>
        <div class="question">
            <div class="question_text">
                <p>Y a-t-il des options de jeu pour les joueurs expérimentés ?</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
                <hr>
                    <div class="reponse">
                        <p></p>
                    </div>
            </div>
        </div>
        <div class="question">
            <div class="question_text">
                <p>Le bar propose-t-il des options végétariennes ?</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
                <hr>
                <div class="reponse">
                    <p></p>
                </div>
            </div>
        </div>
        <h3>Vous avez d'autres questions ?</h3>
        <button>Contactez nous</button>
    </div>
{% endblock %}
