//variables, fonts, couleurs, titres
//COULEURS
$couleurPrincipale : #f7f7f7;
$couleurbg : #000511;
$couleurfooter : #25052C;
$couleurDeg1Neon : #8800F2;
$couleruDeg2Neon: #F6008F;
$couleurDegFont: #EDADF5;
$couleurRéservation: #9F3770;

//FONT
$fontBase: 'Satoshi', sans-serif;

html,body{
  background-color: #9F3770;
  padding: 0;
  margin: 0;
}

main{
  width: 90%;
  margin: 0 auto;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

a{
  text-decoration: none;
}
html{
  background-color: $couleurbg;
  color: $couleurPrincipale;
  font-family: $fontBase;
}