// REDACTION---------------------------------------------------
%H2Grand{
  font-size: 50pt;
  font-weight: 800;
}
%H2Petit{
  font-size: 30pt;
  font-weight: 500;
}
%H3{
  font-size: 20pt;
  font-weight: 400;
}

//FLEX----------------------------------------------------------
%center{
  display: flex;
  justify-content: center;
  align-items: center;
}