//COULEURS
$couleurPrincipale: #f7f7f7;
$couleurbg: #000511;
$couleurfooter: #25052C;
$couleurDeg1Neon: #8800F2;
$couleruDeg2Neon: #F6008F;
$couleurDegFont: #EDADF5;
$couleurReservation: #9F3770;
$events_noel: #239400;
$events_rose: #E46B9F;
$events_etud: #000358;

//FONT
$fontBase: 'Satoshi', sans-serif;

//CARTE
$lien_carte1 : #FF008C;
$lien_carte2 :#2E134B;
$lien_carte3 : #76A0B6;
$lien_carte4 : #45192C;
$lien_carte5 : #B270F6;
$lien_carte6 : #151A20;
