{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}

{% block body %}

<h1>Nos activités</h1>
    <div>
        <div>
            <h2>S'amuser au Bowling</h2>
            <p>Ses 18 pistes équipées de barrières automatiques pour les enfants, peuvent accueillir petits et grands.<br>
                Vous serez emportés par les éclairages LED balayant les pistes en couleurs pour une ambiance unique
            </p>
            <div>
                <a href="#">
                    <img src="" alt="">
                    Voir les horaires et tarifs
                </a>
                <a href="#">
                    <img src="" alt="">
                    Rèserver
                </a>
            </div>
        </div>
        <div>
            <h2>S'amuser au Bowling</h2>
            <p>Ses 18 pistes équipées de barrières automatiques pour les enfants, peuvent accueillir petits et grands.<br>
                Vous serez emportés par les éclairages LED balayant les pistes en couleurs pour une ambiance unique
            </p>
            <div>
                <a href="#">
                    <img src="" alt="">
                    Voir les horaires et tarifs
                </a>
                <a href="#">
                    <img src="" alt="">
                    Rèserver
                </a>
            </div>
        </div>
    </div>
{% endblock %}
